.home-container {
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-container h2 {
  padding-top: 90px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  color: black;
}


.home-container p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  padding-top: 20px;
}

.center-text {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
}

.footer-logo {
  background-color: black;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-logo img{
  width: 3cm;
}

/*
.home-container h3 {
  font-size: 1.8rem;
  color: #666;
  margin-top: 20px;
}

.home-container ul {
  list-style-type: none;
  padding: 0;
}

.home-container ul li {
  font-size: 1.1rem;
  color: #0e7db0;
  margin-bottom: 10px;
}

.home-container ul li:before {
  content: "\2022"; 
  color: #0e7db0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
*/