.navbar {
    background-color: #f8f9fa; /* Colore di sfondo */
    border-bottom: 1px solid #dee2e6; /* Bordo inferiore */
    border-radius: 0; /* Senza bordi arrotondati */
  }
  
  .navbar-brand {
    color: #343a40; /* Colore del testo del marchio */
    font-weight: bold; /* Testo in grassetto */
  }
  
  .nav-link {
    color: #343a40; /* Colore del testo del link */
    font-weight: bold; /* Testo in grassetto */
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #007bff; /* Colore del testo del link quando passi sopra o ci si concentra */
  }