.registration-container {
    width: 400px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .registration-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .registration-container form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-container label {
    margin-bottom: 5px;
  }
  
  .registration-container input[type="text"],
  .registration-container input[type="email"],
  .registration-container input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .registration-container button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .registration-container button[type="submit"]:hover {
    background-color: #0056b3;
  }